@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
    font-family: "Assistant", "Noto Sans Thai";
    font-weight: 600;
    color: black;
    text-decoration: none;
}

h1, button, a, span {
    text-transform: uppercase;
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #F2F4F6;
}

/* Header element */
header {
    display: flex;
    align-items: center;
    position: absolute;
    width: 1912px;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #780910;
}

.logoImg {
    position: absolute;
    margin: 10px 55px;
    height: 80px;
    left: 0;
}

.langContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    width: 90px;
    height: 30px;
    position: absolute;
    right: 50px;
}

.langLine {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #999999;
    border-radius: 100px;
}
.en:hover, .th:hover {
    color: #DFAC5D !important;
    transition: 0.2s;
}

/* Main container element */
.mainContainer { 
    display: flex;
    justify-content: center;
    position: absolute;
    width: 700px;
    height: 500px;
    top: 280px;
    border-radius: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.322);
    background-color: white;
}

.title {
    width: 600px;
    font-weight: 650;
    font-size: 380%;
    letter-spacing: 10px;
    text-align: center;
}

.inputContainer {
    position: absolute;
    width: 600px;
    height: 40px;
    background-color: white;
    border: 1px solid #780910;
    opacity: 60%;
}

.inputContainer::-ms-reveal {
    display: none;
}

.inputContainer::placeholder {
    font-family: "Assistant", "Noto Sans Thai";
    position: absolute;
    text-transform: uppercase;
    top: 16%;
    margin-left: 10px;
    font-size: 140%;
    font-weight: 600;
    color: #780910;
}

.inputContainer:focus::placeholder {
    opacity: 80%;
}

.inputContainer:focus, .inputContainer:valid {
    outline: none;
    border: 1px solid #780910;
    background-color: #fff9e6;
    opacity: 100%;
}

.inputContainer:valid { 
    font-size: 110%;
    font-weight: 600;
}

.inputContainer::-webkit-inner-spin-button {
    -webkit-appearance: none;
    padding: 0;
}

.password-icon {
    position: absolute;
    width: 20px;
    right: 60px;
    cursor: pointer;
}

.errorMessage {
    position: absolute;
    font-weight: 700;
    bottom: 170px;
    color: #CF2D1E;
    visibility: hidden;
}

.signInButton {
    position: absolute;
    bottom: 110px;
    width: 260px;
    height: 60px;
    background-color: white;
    border: 1px solid #780910;
    border-radius: 100px;
    color: #780910;
    font-size: 140%;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}

.signInButton:hover {
    background: linear-gradient(to right, #802E25, #934C37);
    color: white;
    border-image: linear-gradient(to right, #802E25, #934C37) 0;
}

.forgot {
    position: absolute;
    bottom: 50px;
    font-size: 120%;
    font-weight: 600;
    color: #CF2D1E;
}